In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/brian/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [11]:
array[0][1:]

[89, 63]

In [67]:
array[:2, 1:]

TypeError: list indices must be integers or slices, not tuple

In [59]:
#2. Using corr() function to get the correlation matrix of all columns
matrix = df.corr()

print(matrix)

              Area Code  Item Code  Element Code     Y2014     Y2015  \
Area Code      1.000000  -0.005159     -0.000209  0.006164  0.005472
Item Code     -0.005159   1.000000     -0.024683  0.021722  0.020857
Element Code  -0.000209  -0.024683      1.000000  0.024457  0.023889
Y2014          0.006164   0.021722      0.024457  1.000000  0.994647
Y2015          0.005472   0.020857      0.023889  0.994647  1.000000
Y2016          0.005247   0.020109      0.023444  0.996081  0.995739
Y2017          0.005006   0.021494      0.024254  0.995230  0.988048
Y2018          0.005665   0.021314      0.024279  0.994872  0.988208

                 Y2016     Y2017     Y2018
Area Code     0.005247  0.005006  0.005665
Item Code     0.020109  0.021494  0.021314
Element Code  0.023444  0.024254  0.024279
Y2014         0.996081  0.995230  0.994872
Y2015         0.995739  0.988048  0.988208
Y2016         1.000000  0.992785  0.992757
Y2017         0.992785  1.000000  0.998103
Y2018         0.992757  0.998103  1.000000

In [13]:
#3.
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [16]:
#4 and 5. Selecting columns
df_subset = df[['Y2017', 'Area']]

In [62]:
#Using groupby to get the sum of each are and then sorting
grouped_2017 = df.groupby('Area')['Y2017'].sum()
grouped_2017.sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [63]:
#6.
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [64]:
#7.
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]
x

8

In [65]:
#8.
grouped_element = df.groupby('Element')['Y2017'].sum()
grouped_element.sort_values()

Element
Tourist consumption                            91.00
Fat supply quantity (g/capita/day)          10253.84
Protein supply quantity (g/capita/day)      11842.45
Seed                                        24870.14
Residuals                                   35500.00
Food supply quantity (kg/capita/yr)         48690.04
Stock Variation                             54316.91
Other uses (non-food)                       91645.97
Losses                                     160614.00
Export Quantity                            182338.80
Feed                                       223705.68
Processing                                 292836.00
Import Quantity                            294559.09
Food supply (kcal/capita/day)              454681.00
Total Population - Both sexes             1112641.00
Food                                      1258888.28
Production                                2030056.89
Domestic supply quantity                  2088198.10
Name: Y2017, dtype: float64

In [68]:
#10.
df['Area'].nunique()

49

In [70]:
#12. Filtering df where Area is Madagascar and Element is protein supply
filtered_df = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]
print(filtered_df)

       Area Code        Area  Item Code                      Item  \
30718        129  Madagascar       2901               Grand Total
30721        129  Madagascar       2903          Vegetal Products
30724        129  Madagascar       2941           Animal Products
30740        129  Madagascar       2905  Cereals - Excluding Beer
30756        129  Madagascar       2511        Wheat and products
...          ...         ...        ...                       ...
32113        129  Madagascar       2769   Aquatic Animals, Others
32123        129  Madagascar       2775            Aquatic Plants
32133        129  Madagascar       2928             Miscellaneous
32142        129  Madagascar       2680               Infant food
32152        129  Madagascar       2899             Miscellaneous

       Element Code                                 Element          Unit  \
30718           674  Protein supply quantity (g/capita/day)  g/capita/day
30721           674  Protein supply quantity (g/capita/day)  g/capita/day
30724           674  Protein supply quantity (g/capita/day)  g/capita/day
30740           674  Protein supply quantity (g/capita/day)  g/capita/day
30756           674  Protein supply quantity (g/capita/day)  g/capita/day
...             ...                                     ...           ...
32113           674  Protein supply quantity (g/capita/day)  g/capita/day
32123           674  Protein supply quantity (g/capita/day)  g/capita/day
32133           674  Protein supply quantity (g/capita/day)  g/capita/day
32142           674  Protein supply quantity (g/capita/day)  g/capita/day
32152           674  Protein supply quantity (g/capita/day)  g/capita/day

       Y2014  Y2015  Y2016  Y2017  Y2018
30718  44.45  43.26  43.35  43.94  44.17
30721  35.43  34.04  33.96  34.47  34.81
30724   9.02   9.23   9.38   9.47   9.36
30740  27.97  27.26  27.38  27.97  28.19
30756   2.09   2.14   2.53   2.88   3.15
...      ...    ...    ...    ...    ...
32113   0.01   0.01   0.00   0.00   0.00
32123   0.00   0.00   0.00   0.00   0.00
32133   0.02   0.02   0.02   0.02   0.02
32142   0.00   0.00   0.00   0.00   0.00
32152   0.01   0.01   0.01   0.01   0.01

[111 rows x 12 columns]

In [31]:
#Getting the sum of the Y2015 column in the filtered dataframe
sum(filtered_df['Y2015'])

173.04999999999998

In [34]:
#13.
df.shape

(60943, 12)

In [40]:
#14.
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns = col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [72]:
#15.
print(df['Y2017'].mean(),df['Y2017'].std())

140.9177648602722 1671.8623590567995

In [75]:
#16. Grouping 2015 and 2018 by Item column
grouped_item_wine_2015_2018 = df.groupby('Item')['Y2015', 'Y2018'].sum()
grouped_item_wine_2015_2018

C:\Users\brian\AppData\Local\Temp\ipykernel_19788\2092316523.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_item_wine_2015_2018 = df.groupby('Item')['Y2015', 'Y2018'].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [76]:
#19. Grouping 'Y2016','Y2014','Y2017' and 'Y2015' by Element column
grouped_element_years = df.groupby('Element')['Y2016','Y2014','Y2017','Y2015'].sum()
grouped_element_years

C:\Users\brian\AppData\Local\Temp\ipykernel_19788\604713197.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_element_years = df.groupby('Element')['Y2016','Y2014','Y2017','Y2015'].sum()

,Y2016,Y2014,Y2017,Y2015
Element,,,,
Domestic supply quantity,2044842.70,1996716.35,2088198.10,2021493.55
Export Quantity,151920.46,150020.64,182338.80,157614.47
Fat supply quantity (g/capita/day),10102.77,10225.56,10253.84,10235.74
Feed,228958.65,216927.89,223705.68,225050.22
Food,1247022.17,1212332.49,1258888.28,1232361.10
Food supply (kcal/capita/day),451810.00,454257.00,454681.00,453383.00
Food supply quantity (kg/capita/yr),48985.28,49650.63,48690.04,49345.13
Import Quantity,286582.78,274144.48,294559.09,267018.46
Losses,157787.00,153223.00,160614.00,155439.00
Other uses (non-food),69563.68,78718.13,91645.97,66254.41
Processing,280631.00,282923.00,292836.00,287929.00
Production,1943537.15,1931287.75,2030056.89,1947019.39
Protein supply quantity (g/capita/day),11779.69,11836.46,11842.45,11833.95
Residuals,37224.00,30149.00,35500.00,30045.00
Seed,23389.20,21922.92,24870.14,23976.82
Stock Variation,33140.12,58749.83,54316.91,34910.99
Total Population - Both sexes,1085107.00,1031585.00,1112641.00,1058081.00
Tourist consumption,89.00,416.00,91.00,349.00

In [86]:
#20. getting the total number and percentage of missing data from the 2014 column
num, sd = df['Y2014'].isnull().sum(), len(df['Y2014'])
print(num, (num/sd)*100)

1589 2.6073544131401474